.calculator {
    background-color: hsl(0, 0%, 50%);
    border: .2rem solid rgb(138, 138, 138);
    width: 30%;
    height: auto;

    .display-container {
        background-color: white;
    }

    .display {
        background-color: hsl(0, 0%, 100%);
        font-size: 1.6rem;
        padding: 1rem 0;
        text-align: right;
        width: 90%;
    }

    .row {
        display: flex;
        width: 100%;

        .cell {
            background-color: hsl(0, 0%, 80%);
            border: .2rem solid rgb(0, 0, 0);
            margin: .4rem;
            width: 100%;

            .button {
                background: none;
                border: none;
                cursor: pointer;  
                width: 100%;
            }
            button:active {
                background-color: hsl(0, 0%, 100%);
                transition: .2s;
            }
        }
    }
}