.calculator {
    background-color: hsl(0, 0%, 50%);
    border: .2rem solid rgb(138, 138, 138);
    width: 30%;
    height: 11rem;

    .display {
        background-color: hsl(0, 0%, 100%);
        display: flex;
        padding: 1rem 0;
        width: 100%;
    }

    .row {
        display: flex;
        width: 100%;

        .cell {
            background-color: hsl(0, 0%, 80%);
            border: .5rem solid rgb(138, 138, 138);
            width: 100%;

            .button {
                background: none;
                border: none;
                cursor: pointer;  
                width: 100%;
            }
            button:active {
                background-color: hsl(0, 0%, 100%);
                transition: .2s;
            }
        }
    }
}